*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: rgb(38, 38, 185);
}

table{
    width: auto;
}

button{
    aspect-ratio: 1/1;
    width: 80px;
    border-radius: 50%;
    border: none;
    cursor:pointer;
    font-size: 14pt;
}

button:hover{
    background-color: #f0f000;
}

.display{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 150px;
    font-size: 20pt;
    color: rgb(236, 236, 236);
}

.bar{
    width: 20px;
    height: 30px;
    display: block;
    background-color: #f0f000;
    animation: blink 1300ms infinite linear;
}

@keyframes blink{
    0%{opacity: 0;}
    49%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}